.button {
  display: block;
  margin: 15px auto 0 auto;
  width: 200px;
  padding: 18px;
  font-size: 16px;
  border: none;
  border-radius: 1000px;
  cursor: pointer;
  color: var(--color-on-dark-bg);
  background-color: var(--form-color);
  transition: background-color 500ms;
}

.button:hover,
.button:focus {
  background-color: #f87979;
}